body {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0em;
}

.wrapper #overlay {
  width: 50%;
  height: 815px;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  background: #eee;
  text-align: center;
  visibility: hidden;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
  padding: 2em 0em;
  margin: 3em auto;
  border-radius: 10px;
}

.wrapper #overlay .content {
  margin-top: 10em;
  line-height: .1em;
}

.wrapper #overlay .content h1 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.wrapper #overlay .content p {
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1em;
  font-style: italic;
}

.wrapper #overlay .content button {
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 2em;
  border: 1px solid #333;
  padding: .5em 1.5em;
  font-size: 1.2em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.wrapper #overlay .content button:hover {
  color: white;
  background: #333;
}

.boxes {
  background: -webkit-gradient(linear, left top, right top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2em;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 2em 0em;
  margin: 3em auto;
  width: 50%;
  border-radius: 10px;
}

.boxes .box {
  padding: 2em;
  border-radius: 10px;
  background: #2a3d4a;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.boxes .box i {
  color: white;
  font-size: 3em;
  margin: .5em auto;
  opacity: 0;
}

.boxes .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.click-card {
  -webkit-animation: change-background .3s forwards;
          animation: change-background .3s forwards;
}

.click-card i {
  -webkit-animation: show .3s forwards;
          animation: show .3s forwards;
}

.correct {
  -webkit-animation: correct .5s forwards;
          animation: correct .5s forwards;
}

.wrong {
  -webkit-animation: wrong .5s forwards;
          animation: wrong .5s forwards;
}

.hide {
  -webkit-animation: hide .3s forwards;
          animation: hide .3s forwards;
}

.visible {
  -webkit-animation: visible 0.2s  forwards;
          animation: visible 0.2s  forwards;
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes visible {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes visible {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes wrong {
  from {
    background: #00d0ba;
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  to {
    background: #ca3001;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes wrong {
  from {
    background: #00d0ba;
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  to {
    background: #ca3001;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes correct {
  from {
    background: #00d0ba;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    background: #77e074;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes correct {
  from {
    background: #00d0ba;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  to {
    background: #77e074;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes change-background {
  from {
    background: #2a3d4a;
  }
  to {
    background: #00d0ba;
  }
}

@keyframes change-background {
  from {
    background: #2a3d4a;
  }
  to {
    background: #00d0ba;
  }
}
/*# sourceMappingURL=main.css.map */