body{
    margin:0;
    padding:0;
   
}

.wrapper {
    // background: #12c2e9;
    // background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    padding:0em;
    #overlay {
       
         width:50%;
         height: 815px;
         position: fixed;
         top:0;
         left:0;
         color:black;
         background: #eee;
         text-align: center;
         visibility: hidden;
         transform: translateX(50%);
         opacity: 0;
         padding: 2em 0em;
         margin:3em auto;
         border-radius: 10px;
        .content{
            margin-top: 10em;
            line-height: .1em;
            h1{
                margin-bottom: 0;
                text-transform: uppercase;
            }
            p{
                text-transform: uppercase;
                letter-spacing: .1em;
                line-height: 1em;
                font-style: italic;
            }
            button{
                cursor: pointer;
                background:none;
                border:none;
                margin-top:2em;
                border:1px solid #333;
                padding:.5em 1.5em;
                font-size: 1.2em;
                transition: all 0.4s;
                &:hover{
                    color:white;
                    background: #333;
                }
            }
        }
    }
}
.boxes{
       background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    
    // background: black;
    //visibility: hidden;
    display: grid;
    grid-row-gap: 2em;
    grid-template-columns: repeat(4,1fr);
    padding: 2em 0em ;
    margin: 3em auto;
    width:50%;
    border-radius: 10px;
   
    .box{
        padding: 2em;
        border-radius: 10px;
        background: #2a3d4a;
        text-align: center;
        justify-self: center;
        width: 100px;
        height: 100px;
        transition: all 0.5s;
        i{
            color: white;
            font-size: 3em;
            margin: .5em auto ;
            opacity: 0;
            
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}
.click-card{
    animation: change-background .3s forwards;
    i{
        animation:show .3s forwards;
    }
}
.correct{
    animation: correct .5s forwards;
}

.wrong{
    animation:wrong .5s forwards;
}


.hide{
    animation: hide .3s forwards;
}
.visible{
    animation:visible 0.2s  forwards;
}

@keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes visible {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes wrong {
    from {
       background: #00d0ba;
       transform: translateX(40%);
    }

    to {
        background: rgb(202, 48, 1);
       transform: translateX(0);
    }
}
@keyframes correct {
    from {
        background: #00d0ba;
        transform: scale(1.3);
    }

    to {
        background: rgb(119, 224, 116);
        transform: scale(0.9);
    }
}
@keyframes show{
    from{
        
        opacity: 0;
    }
    to{
        
        opacity:1;
    }
}
@keyframes change-background {
    from {
        background: #2a3d4a;
       
    }

    to {
        background: #00d0ba;
       
    }
}